<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de projet</title>
</head>
<body>
    <h1>Liste des tâches</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Propriétaire</th>   
                    <th>Actions</th>   
                </tr>
            </thead>
            <tbody>

                {% for projet in obj_tache %}
                    <tr>
                        <td>{{projet.libelle}}</td>
                        <td>{{projet.date_debut}}</td>
                        <td>{{projet.date_fin}}</td>
                        <td>{{projet.owner}}</td>
                        <td>
                            <a href="{% url 'apptache:update_projet' projet.id %}">Modifier</a> 
                            <a href="{% url 'apptache:delete_projet' projet.id %}">Supprimer</a>
                            <a href="{% url 'apptache:sous_tache_projet' projet.id %}">Sous tâche</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>